name: Build iOS with EAS

on:
  push:
    branches: [main]

jobs:
  build-ios:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: "20"
    - run: find . -type f \( -name "*.json" -o -name "*.js" -o -name "*.yml" -o -name "*.yaml" \) -exec sed -i "1s/^\xEF\xBB\xBF//" {} \;
    - run: npm install --legacy-peer-deps --force
    - run: npm install -g eas-cli
    - run: eas build --platform ios --profile simulator --non-interactive
      env:
        EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
