name: Build iOS with EAS

on:
  push:
    branches: [main]

jobs:
  build-ios:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: "20"
    - run: npm install -g expo-cli
    - run: npm install --legacy-peer-deps --force
    - run: expo install --fix
    - run: npm install -g eas-cli
    - run: eas build --platform ios --non-interactive
      env:
        EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
